<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.MenuDao">

    <select id="selectAllFirst" resultType="Menu">
         select * from menu where menu_level='1'
     </select>

    <select id="selectSecond" resultType="Menu">
        select * from menu where menu_parent_id=#{0}
    </select>

</mapper>
