<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.OperationDao">
     <resultMap id="operationMap" type="Operation">
         <id property="operationId" column="operation_id" ></id>
         <result property="operationTime" column="operation_time"></result>
         <result property="operationResource" column="operation_resource"></result>
         <result property="operationAction" column="operation_action"></result>
         <result property="operationMassage" column="operation_massage"></result>
         <result property="operationResult" column="operation_result"></result>
         <association property="manager" javaType="Manager">
             <id property="mgrId" column="mgr_id" ></id>
             <result property="mgrName" column="mgr_name"></result>
             <result property="mgrPwd" column="mgr_pwd"></result>
             <result property="salt" column="salt"></result>
             <result property="mgrStatus" column="mgr_status"></result>
         </association>
     </resultMap>

    <select id="selectAll" resultMap="operationMap">
        SELECT
            *
        FROM
            operation
        LEFT JOIN manager ON operation.manager_id = manager.mgr_id
        LIMIT #{begin}, #{size}
    </select>

    <select id="selectTotal" resultType="Integer">
        SELECT
        COUNT(*)
        FROM
        operation
    </select>

    <insert id="insert">
        INSERT INTO operation VALUES(
            #{operation.operationId},
            #{operation.manager.mgrId},
            #{operation.operationTime},
            #{operation.operationResource},
            #{operation.operationAction},
            #{operation.operationMassage},
            #{operation.operationResult}
        )
    </insert>
</mapper>
