<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfz.dao.PictureDao">
     <select id="selectAll" resultType="Picture">
         select * from picture  LIMIT #{begin}, #{size}
     </select>

    <insert id="insert">
        INSERT INTO picture VALUES(
            #{picture.picture_id},
            #{picture.picture_path},
            #{picture.picture_date},
            #{picture.picture_description},
            #{picture.picture_status})
    </insert>

    <update id="updata">
        UPDATE picture SET
            picture_path=#{picture.picture_path},
            picture_date=#{picture.picture_date},
            picture_description=#{picture.picture_description},
            picture_status=#{picture.picture_status}
        where picture_id=#{picture.picture_id}
    </update>

    <delete id="delete">
        DELETE FROM picture WHERE picture_id=#{id}
    </delete>
</mapper>
